.BestPlice {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 40px;
}

.BestPlice__contents {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  background-color: #ffffff;
}

.BestPlice__section {
  width: 100%;
}

.BestPlice__ttl {
  width: 100%;
  margin: 0 auto;
}

.BestPlice__ttlInner {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.BestPlice__ttl2 {
  width: 100%;
  margin: auto;
  padding-bottom: 30px;
}

.BestPlice__ttl2Inner {
  width: 55%;
  display: block;
  margin: 0 auto;
}

.BestPlice__plan {
  text-align: center;
  font-size: 26px;
  border: 2px solid #00a0b9;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 10px;
  color: #00a0b9;
}

.BestPlice__priceList {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  align-items: center;
}

.BestPlice__priceImg {
  display: block;
  width: 45%;
}

.BestPlice__plus {
  font-size: 30px;
  font-weight: 900;
  border: none;
  margin-bottom: 0;
  color: #000000;
}

.BestPlice__caution {
  display: block;
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}

.BestPlice__triangle {
  display: block;
  margin-top: 40px;
  text-align: center;
  color: #7bcedb;
  font-size: 50px;
}
