// detail
.Detail {
    @at-root {
        &__Ttl {
            width: 100%;
            text-align: center;
            line-height: 100px;
            text-align: center;
            font-size: 22px;
            color: #fff;
            background-color: #999999;
        }
        &__wrapper {
            width: 960px;
            margin: 40px auto;
        }
        &__content {
            & + & {
                margin-top: 30px;
            }
        }
        &__headOuter {
            width: 100%;
            padding: 13px 0 12px;
            border: 1px solid #00aec7;
        }
        &__head {
            font-size: 22px;
            text-align: center;
            color: #00aec7;
        }
        &__body {
            display: flex;
            justify-content: flex-start;
            margin-top: 30px;
        }
        &__imgOuter {
            width: calc(100% - 450px);
            padding: 50px;
            align-items: center;
            img{
                display: block;
                width: 100%;
            } 
        }
        &__txtOuter {
            width: 450px;
        }
        &__box {
            & + & {
                margin-top: 20px;
            }
        }
        &__boxTtl {
            padding: 7px 10px 6px;
            text-align: center;
            font-size: 18px;
            color: #fff;
            background-color: #00A0B9;
        }
        &__boxTxt {
            margin-top: 20px;
            font-size: 18px;
            & + & {
                margin-top: 6px;
            }
        }
        &__boxCaution {
            margin-top: 8px;
        }
    }
}