.Detail__Ttl {
  width: 100%;
  text-align: center;
  line-height: 100px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  background-color: #999999;
}

.Detail__wrapper {
  width: 960px;
  margin: 40px auto;
}

.Detail__content + .Detail__content {
  margin-top: 30px;
}

.Detail__headOuter {
  width: 100%;
  padding: 13px 0 12px;
  border: 1px solid #1D90E6;
}

.Detail__head {
  font-size: 22px;
  text-align: center;
  color: #1D90E6;
}

.Detail__body {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

.Detail__imgOuter {
  width: calc(100% - 450px);
  padding: 30px;
  align-items: center;
}

.Detail__imgOuter div {
  width: 100%;
  height: 470px;
  background-color: red;
}

.Detail__txtOuter {
  width: 450px;
}

.Detail__box + .Detail__box {
  margin-top: 20px;
}

.Detail__boxTtl {
  padding: 7px 10px 6px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: #00A0B9;
}

.Detail__boxTxt {
  margin-top: 20px;
  font-size: 18px;
}

.Detail__boxTxt + .Detail__boxTxt {
  margin-top: 6px;
}

.Detail__boxCaution {
  margin-top: 8px;
}
