.Footer {
  width: 100%;
  background-color: #cceef4;
  height: auto;
}

.Footer__container {
  width: 100%;
  height: 80px;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Footer__link {
  text-align: center;
  color: #00aec7;
}

.Footer__copy {
  background-color: #fff;
  padding: 20px;
}

.Footer__copy p {
  text-align: center;
  color: #00aec7;
}
