.Header {
  width: 100%;
  height: 140px;
  background-color: #ffffff;
}

.Header__nav {
  width: 100%;
  max-width: 960px;
  height: 90px;
  display: flex;
  align-items: center;
  flex-flow: row;
  margin: 0 auto;
  padding: 0;
}

.Header__item {
  width: 200px;
  margin-right: 10px;
  list-style: none;
}

.Header__item:nth-child(1) {
  width: 120px;
  margin-right: auto;
}

.Header__itemInner1 {
  width: 100%;
}

.Header__itemInner2, .Header__itemInner2--red {
  display: block;
  text-align: center;
  background-color: #ccc;
  width: 100%;
  padding: 10px 0px;
  border-radius: 30px;
}

.Header__itemInner2--red {
  background-color: red;
}

.Header__msg {
  width: 100%;
  max-width: 960px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.Header__msgInner {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #00a0b9;
  font-weight: bold;
  font-size: 24px;
}

.Header__msgInner br {
  display: none;
}
