.Media {
    width: 100%;
    height: auto;
    margin: 0 auto;
    @at-root {
        &__contents {
            width: 100%;
            margin: 0 auto;
            height: auto;
            background-color: #DB2A26;
        }
        &__txt {
            width: 100%;
            text-align: center;
            line-height: 120px;
            font-size: 28px;
            color: #ffffff;
        }
        &__box {
            max-width: 960px;
            margin: 0 auto;
            padding: 85px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
        }
    }
}
