.Header {
  width: 100%;
  height: 140px;
  background-color: #ffffff;
}

.Header__nav {
  width: 100%;
  max-width: 960px;
  height: 90px;
  display: flex;
  align-items: center;
  flex-flow: row;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 960px) {
  .Header__nav {
    height: 60px;
  }
}

.Header__item {
  width: 200px;
  margin-right: 10px;
  list-style: none;
}

@media screen and (max-width: 960px) {
  .Header__item {
    width: 33.3%;
    margin-right: 0;
  }
}

.Header__item:nth-child(1) {
  width: 120px;
  margin-right: auto;
}

@media screen and (max-width: 960px) {
  .Header__item:nth-child(1) {
    width: 33.3%;
  }
}

.Header__itemInner1 {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .Header__itemInner1 {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.Header__itemInner2, .Header__itemInner2--red {
  display: block;
  text-align: center;
  background-color: #ccc;
  color: #000000;
  width: 100%;
  padding: 10px 0px;
  border-radius: 30px;
  color: #000;
}

@media screen and (max-width: 960px) {
  .Header__itemInner2, .Header__itemInner2--red {
    border-radius: 0px;
    padding: 20px 0px;
  }
}

.Header__itemInner2--red {
  background-color: #ee275b;
  color: #ffffff;
}

.Header__msg {
  width: 100%;
  max-width: 960px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .Header__msg {
    height: 100px;
  }
}

.Header__msgInner {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #00a0b9;
  font-weight: bold;
  font-size: 24px;
}

@media screen and (max-width: 960px) {
  .Header__msgInner {
    padding-bottom: 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .Header__msgInner {
    font-size: 18px;
  }
}

.Header__msgInner br {
  display: none;
}

@media screen and (max-width: 960px) {
  .Header__msgInner br {
    display: block;
  }
}

.swiper-container {
  widows: 100%;
  max-width: 1200px;
}

.swiper-container .swiper-wrapper {
  width: 100%;
  margin: 0 auto;
}

.swiper-container .swiper-wrapper img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.Catch {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.Catch__contents {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  background-color: #ffffff;
}

.Catch__section {
  padding-top: 30px;
}

@media screen and (max-width: 960px) {
  .Catch__section {
    padding: 30px 5px 0 5px;
  }
}

.Catch__Catch_ttl {
  width: 100%;
  margin: 0 auto;
}

.Catch__ttlInner {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.Catch__txt {
  text-align: center;
  font-size: 24px;
}

@media screen and (max-width: 960px) {
  .Catch__txt {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .Catch__txt {
    font-size: 17px;
  }
}

.Catch__txt span {
  color: #fa7800;
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .Catch__txt span {
    font-size: 23px;
  }
}

@media screen and (max-width: 320px) {
  .Catch__txt span {
    font-size: 20px;
  }
}

.Catch__btn, .Catch__btn--orange {
  display: block;
  background-color: #e6e6e6;
  color: #808080;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 20px;
  text-decoration: none;
  border-radius: 30px;
}

@media screen and (max-width: 960px) {
  .Catch__btn, .Catch__btn--orange {
    font-size: 18px;
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .Catch__btn, .Catch__btn--orange {
    font-size: 15px;
  }
}

.Catch__btn--orange {
  color: #fa7800;
  background-color: #fff;
  border: 1px solid #fa7800;
}

.Problem {
  width: 100%;
  background-color: #f2f2f2;
  height: auto;
}

.Problem__bg {
  width: 100%;
  height: auto;
  background-color: #a6a6a6;
  -webkit-clip-path: polygon(0% 20%, 10% 50%, 60% 90%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 97%, 0 75%);
}

.Problem__contents {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  background-color: #a6a6a6;
}

.Problem__section {
  padding-top: 30px;
}

.Problem__imgBox {
  background-color: #a6a6a6;
}

.Problem__img {
  display: block;
  margin: 0 auto;
  width: 70%;
}

@media screen and (max-width: 960px) {
  .Problem__img {
    width: 95%;
  }
}

.LashicRoom {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 80px;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 30px;
  z-index: -100;
}

.LashicRoom__contents {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  background-color: #f2f2f2;
}

.LashicRoom__section {
  padding-top: 30px;
}

.LashicRoom__ttl {
  width: 100%;
  margin: 0;
}

.LashicRoom__ttlInner {
  width: 50%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .LashicRoom__ttlInner {
    width: 80%;
  }
}

.LashicRoom__mainImgs {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .LashicRoom__mainImgs {
    display: flex;
    flex-flow: column;
  }
}

.LashicRoom__mainImg {
  width: 40%;
}

@media screen and (max-width: 960px) {
  .LashicRoom__mainImg {
    width: 90%;
  }
}

.LashicRoom__txt1 {
  margin: 0 auto;
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 960px) {
  .LashicRoom__txt1 {
    display: flex;
    align-items: center;
    color: #fa7800;
    font-weight: bold;
    padding-left: 65px;
    font-size: 25px;
  }
}

.LashicRoom__txt1 span {
  display: block;
  text-align: center;
  background-color: #fa7800;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 50%;
  color: #ffffff;
}

@media screen and (max-width: 960px) {
  .LashicRoom__txt1 span {
    margin: 20px;
    width: 40px;
    padding: 0;
  }
}

.LashicRoom__msg {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

.LashicRoom__msgInner {
  width: 60%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .LashicRoom__msgInner {
    width: 80%;
  }
}

.LashicRoom__txt2 {
  text-align: center;
  font-size: 24px;
}

@media screen and (max-width: 960px) {
  .LashicRoom__txt2 {
    font-size: 14px;
    padding: 0 5px;
    font-weight: bold;
  }
}

@media screen and (max-width: 320px) {
  .LashicRoom__txt2 {
    font-size: 12px;
  }
}

.LashicRoom__txt2 span {
  color: #fa7800;
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .LashicRoom__txt2 span {
    font-size: 17px;
  }
}

@media screen and (max-width: 320px) {
  .LashicRoom__txt2 span {
    font-size: 14px;
  }
}

.LashicRoom__btn {
  display: block;
  background-color: #ffffff;
  color: #fa7800;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 0;
  font-size: 20px;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid #fa7800;
}

@media screen and (max-width: 960px) {
  .LashicRoom__btn {
    width: 90%;
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .LashicRoom__btn {
    font-size: 15px;
  }
}

.LashicRoom__triangle {
  position: absolute;
  bottom: -4.5%;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .LashicRoom__triangle {
    bottom: -2.5%;
  }
}

.LashicRoom__triangle p {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #7bcedb;
  font-size: 50px;
}

.BestPlice {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (max-width: 960px) {
  .BestPlice {
    padding-bottom: 10px;
  }
}

.BestPlice__contents {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  background-color: #ffffff;
}

.BestPlice__section {
  width: 100%;
}

.BestPlice__ttl {
  width: 100%;
  margin: 0 auto;
}

.BestPlice__ttlInner {
  width: 40%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .BestPlice__ttlInner {
    width: 70%;
  }
}

.BestPlice__ttl2 {
  width: 100%;
  margin: auto;
  padding-bottom: 30px;
}

.BestPlice__ttl2Inner {
  width: 55%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .BestPlice__ttl2Inner {
    width: 85%;
  }
}

.BestPlice__plan {
  text-align: center;
  font-size: 26px;
  border: 2px solid #00a0b9;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 10px;
  color: #00a0b9;
}

@media screen and (max-width: 960px) {
  .BestPlice__plan {
    width: 95%;
    font-size: 18px;
  }
}

.BestPlice__priceList {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .BestPlice__priceList {
    width: 95%;
  }
}

.BestPlice__priceImg {
  display: block;
  width: 45%;
}

.BestPlice__plus {
  font-size: 30px;
  font-weight: 900;
  border: none;
  margin-bottom: 0;
  color: #000000;
}

.BestPlice__caution {
  display: block;
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .BestPlice__caution {
    font-size: 9px;
    margin-left: 3%;
  }
}

.BestPlice__triangle {
  display: block;
  margin-top: 40px;
  text-align: center;
  color: #7bcedb;
  font-size: 50px;
}

@media screen and (max-width: 960px) {
  .BestPlice__triangle {
    margin-top: 10px;
    font-size: 50px;
  }
}

.Label1 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: -moz-linear-gradient(top, #009fd2, #00d0cd);
  background: -webkit-linear-gradient(top, #009fd2, #00d0cd);
  background: linear-gradient(to bottom, #009fd2, #00d0cd);
}

.Label1__contents {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  background: -moz-linear-gradient(top, #009fd2, #00d0cd);
  background: -webkit-linear-gradient(top, #009fd2, #00d0cd);
  background: linear-gradient(to bottom, #009fd2, #00d0cd);
}

.Label1__txt {
  width: 100%;
  text-align: center;
  line-height: 120px;
  font-size: 28px;
  color: #ffffff;
}

@media screen and (max-width: 960px) {
  .Label1__txt {
    line-height: 70px;
    font-size: 18px;
  }
}

.PlicePlan {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.PlicePlan__contents {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: auto;
}

.PlicePlan__firstBox {
  display: flex;
  flex-flow: column;
  border: 1px solid #00a0b9;
  width: 90%;
  margin: 0 auto;
}

.PlicePlan__firstBoxLabel {
  text-align: center;
  background-color: #00a0b9;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 0;
}

@media screen and (max-width: 960px) {
  .PlicePlan__firstBoxLabel {
    font-size: 16px;
  }
}

.PlicePlan__firstBoxForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.PlicePlan__firstBoxFormInput {
  border: 1px solid #ccc;
  margin-right: 10px;
}

.PlicePlan__firstBoxFormTxt {
  background-color: #fff;
  color: #000000;
  font-size: 24px;
}

.PlicePlan__planList {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .PlicePlan__planList {
    width: 98%;
    margin-top: 10px;
  }
}

.PlicePlan__planBox {
  display: flex;
  flex-flow: column;
  width: 32%;
  min-width: 240px;
}

@media screen and (max-width: 860px) {
  .PlicePlan__planBox {
    min-width: 104px;
    margin: 0 auto;
  }
}

.PlicePlan__planBoxPlus, .PlicePlan__planBoxPlus--1 {
  text-align: center;
  font-size: 50px;
}

@media screen and (max-width: 860px) {
  .PlicePlan__planBoxPlus, .PlicePlan__planBoxPlus--1 {
    font-size: 20px;
  }
}

.PlicePlan__planBoxPlus--1 {
  display: block;
}

.PlicePlan__plan {
  display: flex;
  flex-flow: column;
  border: 1px solid #00a0b9;
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .PlicePlan__plan {
    margin-top: 5px;
  }
}

.PlicePlan__pliceLabel {
  text-align: center;
  background-color: #00a0b9;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 0;
}

@media screen and (max-width: 960px) {
  .PlicePlan__pliceLabel {
    font-size: 12px;
  }
}

.PlicePlan__pliceContent {
  display: flex;
  flex-flow: column;
  padding: 20px;
}

@media screen and (max-width: 960px) {
  .PlicePlan__pliceContent {
    padding: 0px;
    padding-bottom: 15px;
    padding-top: 10px;
  }
}

.PlicePlan__txt1, .PlicePlan__txt1--perMonth {
  text-align: center;
  color: #fa7800;
  font-weight: bold;
  font-size: 21px;
}

@media screen and (max-width: 960px) {
  .PlicePlan__txt1, .PlicePlan__txt1--perMonth {
    font-size: 12px;
  }
}

.PlicePlan__txt1 span, .PlicePlan__txt1--perMonth span {
  font-size: 55px;
}

@media screen and (max-width: 960px) {
  .PlicePlan__txt1 span, .PlicePlan__txt1--perMonth span {
    font-size: 21px;
  }
}

.PlicePlan__txt1--perMonth {
  line-height: 110px;
}

@media screen and (max-width: 960px) {
  .PlicePlan__txt1--perMonth {
    line-height: 393%;
  }
}

.PlicePlan__txt2 {
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .PlicePlan__txt2 {
    font-size: 6px;
  }
}

.PlicePlan__txt2 span {
  font-size: 28px;
}

@media screen and (max-width: 960px) {
  .PlicePlan__txt2 span {
    font-size: 11px;
  }
}

.PlicePlan__txt3 {
  text-align: center;
  background-color: #ee275b;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 24px;
  color: #ffffff;
  padding: 10px 0;
  box-shadow: 0px 4px 0px 0px #b2095b;
}

.PlicePlan__txt3:hover {
  cursor: pointer;
}

.PlicePlan__txt3:active {
  box-shadow: none;
  transform: translate3d(0, 4px, 0);
}

@media screen and (max-width: 960px) {
  .PlicePlan__txt3 {
    font-size: 12px;
    margin-top: 9px;
  }
}

.PlicePlan__caution {
  width: 90%;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .PlicePlan__caution {
    font-size: 9px;
    margin-top: 8px;
  }
}

.PlicePlan__more {
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-top: 40px;
}

@media screen and (max-width: 960px) {
  .PlicePlan__more {
    width: 80%;
  }
}

.PlicePlan__sleepImg {
  display: block;
  width: 93%;
  margin: 0 auto;
  margin-top: 20px;
}

.PlicePlan__callImg {
  display: block;
  width: 93%;
  margin: 0 auto;
}

.Application {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.Application__contents {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  padding: 40px;
  padding-bottom: 80px;
}

@media screen and (max-width: 960px) {
  .Application__contents {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
  }
}

.Application__box {
  border: 1px solid #00a0b9;
  width: 80%;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 18px 0px;
}

.Application__box:nth-of-type(4) {
  margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
  .Application__box {
    width: 100%;
    padding: 10px;
    margin-bottom: 5%;
  }
}

.Application__innerTxt {
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.Application__innerTxt span {
  color: #00a0b9;
  margin-right: 20px;
}

.Application__innerTxt input {
  margin-right: 20px;
}

@media screen and (max-width: 960px) {
  .Application__innerTxt {
    font-size: 14px;
  }
}

.Application__price {
  text-align: center;
  font-size: 24px;
  text-align: left;
  padding-left: 7%;
}

.Application__monthPrice {
  font-size: 32px;
}

.Application__caution {
  width: 80%;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 960px) {
  .Application__caution {
    font-size: 9px;
    margin-left: 2%;
  }
}

.Application__btn {
  display: block;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  background-color: #ee275b;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px 0;
  font-size: 28px;
  box-shadow: 0px 4px 0px 0px #b2095b;
}

.Application__btn:active {
  box-shadow: none;
  transform: translate3d(0, 4px, 0);
}

.Media {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.Media__contents {
  width: 100%;
  margin: 0 auto;
  height: auto;
  background-color: #db2a26;
}

.Media__txt {
  width: 100%;
  text-align: center;
  line-height: 120px;
  font-size: 28px;
  color: #ffffff;
}

.Media__box {
  max-width: 960px;
  margin: 0 auto;
  padding: 85px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

@media screen and (max-width: 960px) {
  .Media__box {
    flex-flow: column;
  }
}

@media screen and (max-width: 960px) {
  .Media__news {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 960px) {
  .Media__market {
    margin-bottom: 40px;
  }
}

.Life {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.Life__label {
  width: 100%;
  background-color: #fff;
  max-height: 150px;
}

.Life__label:before {
  content: "";
  display: block;
  padding-top: 20%;
}

.Life__head {
  width: 100%;
  height: auto;
  background-color: #00a0b9;
}

.Life__contents1 {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 150px;
  position: relative;
}

.Life__headImg {
  display: block;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 12%;
}

.Life__contents2 {
  width: 100%;
  max-width: 960px;
  height: auto;
  margin: 0 auto;
  padding: 60px;
}

.Life__contentImg {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}

.Life__contentTxt {
  line-height: 30px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 24px/28px "Open Sans", Arial, sans-serif;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media screen and (max-width: 960px) {
  input[type="checkbox"] + label {
    font-size: 13px;
  }
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

@media screen and (max-width: 960px) {
  input[type="checkbox"] + label:before {
    width: 17px;
    height: 17px;
    top: 10%;
  }
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Detail__Ttl {
  width: 100%;
  text-align: center;
  line-height: 100px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  background-color: #999999;
}

.Detail__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}

.Detail__content + .Detail__content {
  margin-top: 30px;
}

.Detail__headOuter {
  width: 90%;
  margin: 0 auto;
  padding: 13px 0 12px;
  border: 1px solid #00aec7;
}

.Detail__head {
  font-size: 22px;
  text-align: center;
  color: #00aec7;
}

.Detail__body {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
}

@media screen and (max-width: 960px) {
  .Detail__body {
    flex-flow: column;
  }
}

.Detail__imgOuter {
  width: 50%;
  padding: 50px;
  align-items: center;
}

.Detail__imgOuter img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .Detail__imgOuter {
    margin: 0 auto;
    width: 90%;
  }
}

.Detail__txtOuter {
  width: 50%;
}

@media screen and (max-width: 960px) {
  .Detail__txtOuter {
    margin: 0 auto;
    width: 90%;
  }
}

.Detail__box + .Detail__box {
  margin-top: 20px;
}

.Detail__boxTtl {
  padding: 7px 10px 6px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: #00a0b9;
}

.Detail__boxTxt {
  margin-top: 20px;
  font-size: 18px;
}

.Detail__boxTxt + .Detail__boxTxt {
  margin-top: 6px;
}

.Detail__boxCaution {
  margin-top: 8px;
}

.Spec__Ttl {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3px;
  font-size: 22px;
  color: #00a0b9;
  border-bottom: 1px solid #00a0b9;
}

.Spec__body {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 30px;
}

@media screen and (max-width: 960px) {
  .Spec__body {
    flex-flow: column;
  }
}

.Spec__boxOuter {
  width: 440px;
  min-width: 320px;
  font-size: 16px;
}

.Spec__boxOuter + .Spec__boxOuter + .Spec__boxOuter {
  margin-top: 30px;
}

@media screen and (max-width: 960px) {
  .Spec__boxOuter {
    margin: 0 auto;
    width: 90%;
  }
}

.Spec__head {
  font-size: 18px;
  color: #00a0b9;
}

.Spec__box {
  margin-top: 15px;
  border: 1px solid #e6e6e6;
}

.Spec__boxTtl {
  padding: 9px 20px 7px;
  background-color: #e6e6e6;
}

.Spec__boxTxt {
  padding: 9px 20px 7px;
}

.Footer {
  width: 100%;
  background-color: #cceef4;
  height: auto;
}

.Footer__container {
  width: 100%;
  height: 80px;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Footer__link {
  text-align: center;
  color: #00aec7;
}

.Footer__copy {
  background-color: #fff;
  padding: 20px;
}

.Footer__copy p {
  text-align: center;
  color: #00aec7;
}
