$breakpoint-tablet: 960px;
$breakpoint-mobile: 320px;

@mixin max-screen($break-point) {
    @media screen and (max-width: $break-point) {
        @content;
    }
}

@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point) {
        @content;
    }
}

@mixin screen($break-point-min, $break-point-max) {
    @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
        @content;
    }
}

@import "header";
@import "slider";
@import "catch";
@import "problem";
@import "lashic-room";
@import "best-plice";
@import "label1";
@import "plice-plan";
@import "application";
@import "media";

.Life {
    width: 100%;
    height: auto;
    margin: 0 auto;
    @at-root {
        &__label{
            width: 100%;
            height: 200px;
            background-color: #fff;
        }
        &__head {
            width: 100%;
            height: auto;
            background-color: #00a0b9;
        }
        &__contents1 {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
            height: 150px;
            position: relative;
        }
        &__headImg{
            display: block;
            width: 80%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 12%;
        }
        &__contents2{
            width: 100%;
            max-width: 960px;
            height: auto;
            margin: 0 auto;
            padding: 60px;
        }
        &__contentImg{
            display: block;
            width: 100%;
            margin-bottom: 60px;
        }
        &__contentTxt{
            line-height: 30px;
        }
    }
}
