header {
  width: 100%;
  height: 140px;
  background-color: #ffffff;
}

header ul {
  width: 100%;
  max-width: 960px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

header ul li {
  width: 200px;
  margin-right: 0px;
  list-style: none;
}

header ul li:nth-child(1) {
  width: 120px;
  margin-right: auto;
}

header ul li a {
  display: block;
  text-align: center;
  background-color: #ccc;
  width: 100%;
  padding: 10px 0px;
  border-radius: 30px;
}

header ul li .buyBtn {
  background-color: #ee275b;
}

header ul li img {
  width: 100%;
}

header .header__content {
  width: 100%;
  max-width: 960px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header .header__content p {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #00a0b9;
  font-weight: bold;
  font-size: 24px;
}

header .header__content p br {
  display: none;
}

.slider1 {
  width: 100%;
  max-width: 1200px;
  height: 475px;
  margin: 0 auto;
  background-color: #5087bb;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background-color: #cfd6e9;
}

.container .contents {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 546px;
  background-color: #cfd6e9;
}

.container .contents section {
  padding-top: 30px;
}

.container .contents section h1 {
  width: 100%;
  margin: 0;
}

.container .contents section h1 img {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.container .contents section p {
  text-align: center;
  font-size: 24px;
}

.container .contents section p span {
  color: #fa7800;
  font-size: 30px;
  font-weight: bold;
}

.container .contents section a {
  display: block;
  background-color: #e6e6e6;
  color: #808080;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 20px;
  text-decoration: none;
  border-radius: 30px;
}

.container .contents section a:nth-of-type(2) {
  margin-top: 20px;
}
