.Header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    @at-root {
        &__nav {
            width: 100%;
            max-width: 960px;
            height: 90px;
            display: flex;
            align-items: center;
            flex-flow: row;
            margin: 0 auto;
            padding: 0;
            @include max-screen($breakpoint-tablet) {
                height: 65px;
            }
        }
        &__item {
            width: 200px;
            margin-right: 10px;
            list-style: none;
            @include max-screen($breakpoint-tablet) {
                width: 33.3%;
                margin-right: 0;
            }
            &:nth-child(1) {
                width: 120px;
                margin-right: auto;
                padding-bottom: 10px;
                @include max-screen($breakpoint-tablet) {
                    width: 33.3%;
                }
            }
            &:last-child(){
                @include max-screen($breakpoint-tablet){
                    display: none;
                }
            }
        }
        &__itemInner1 {
            width: 100%;
            @include max-screen($breakpoint-tablet) {
                width: 60%;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
        &__itemInner2 {
            display: block;
            text-align: center;
            background-color: #ccc;
            color: #000000;
            width: 100%;
            padding: 10px 0px;
            border-radius: 30px;
            color: #000;
            @include max-screen($breakpoint-tablet) {
                border-radius: 0px;
                padding: 20px 0px;
            }
            $this: &;
            &--red {
                @extend #{$this};
                background-color: #ee275b;
                color: #ffffff;
            }
        }
        &__login {
            width: 100%;
            display: flex;
            flex-flow: column;
            @include max-screen($breakpoint-tablet){
                display: none;
            }
        }
        &__loginMsg {
            display: block;
            font-size: 12px;
            text-align: center;
        }
        &__loginBox {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            img {
                display: block;
                width: 25px;
                margin-right: 10px;
            }
            p {
                display: block;
                color: #00a0b9;
                font-weight: bold;
            }
        }
    }
}
