.Label1 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: -moz-linear-gradient(top, #009fd2, #00d0cd);
    background: -webkit-linear-gradient(top, #009fd2, #00d0cd);
    background: linear-gradient(to bottom, #009fd2, #00d0cd);
    padding-top: 70px;
    @at-root {
        &__contents {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
            height: auto;
            background: -moz-linear-gradient(top, #009fd2, #00d0cd);
            background: -webkit-linear-gradient(top, #009fd2, #00d0cd);
            background: linear-gradient(to bottom, #009fd2, #00d0cd);
        }
        &__txt {
            width: 100%;
            text-align: center;
            line-height: 120px;
            font-size: 28px;
            color: #ffffff;
            @include max-screen($breakpoint-tablet){
                line-height: 70px;
                font-size: 18px;
            }
        }
    }
}
