.PlicePlan {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 40px;
    @include max-screen($breakpoint-tablet){
        padding-top: 90px;
    }
    @at-root {
        &__contents {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
            height: auto;
        }
        &__firstBox {
            display: flex;
            flex-flow: column;
            border: 1px solid #00a0b9;
            width: 90%;
            margin: 0 auto;
        }
        &__firstBoxLabel {
            text-align: center;
            background-color: #00a0b9;
            color: #ffffff;
            font-size: 28px;
            padding: 10px 0;
            @include max-screen($breakpoint-tablet) {
                font-size: 16px;
            }
        }
        &__firstBoxForm {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
        }
        &__firstBoxFormInput {
            border: 1px solid #ccc;
            margin-right: 10px;
        }
        &__firstBoxFormTxt {
            background-color: #fff;
            color: #000000;
            font-size: 24px;
        }
        &__planList {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
            margin-top: 20px;
            @include max-screen($breakpoint-tablet) {
                width: 98%;
                margin-top: 10px;
            }
        }
        &__planBox {
            display: flex;
            flex-flow: column;
            width: 32%;
            min-width: 240px;
            @include max-screen(860px) {
                min-width: 104px;
                margin: 0 auto;
            }
        }
        &__planBoxPlus {
            text-align: center;
            font-size: 50px;
            $this: &;
            @include max-screen(860px) {
                font-size: 20px;
            }
            &--1 {
                @extend #{$this};
                display: block;
            }
        }
        &__plan {
            display: flex;
            flex-flow: column;
            border: 1px solid #00a0b9;
            margin-top: 20px;
            height: auto;
            $this: &;
            @include max-screen($breakpoint-tablet) {
                margin-top: 5px;
                max-height: 160px;
            }
            &--recommend {
                @extend #{$this};
                position: relative;
                img {
                    width: 30%;
                    position: absolute;
                    top: -14%;
                    left: -14%;
                    @include max-screen($breakpoint-tablet) {
                        top: -12%;
                        left: -4%;
                    }
                }
            }
        }
        &__pliceLabel {
            text-align: center;
            background-color: #00a0b9;
            color: #ffffff;
            font-size: 28px;
            padding: 10px 0;
            @include max-screen($breakpoint-tablet) {
                font-size: 12px;
            }
        }
        &__pliceContent {
            display: flex;
            flex-flow: column;
            padding: 20px;
            @include max-screen($breakpoint-tablet) {
                padding: 0px;
                padding-bottom: 15px;
                padding-top: 10px;
            }
        }
        &__txt1 {
            text-align: center;
            color: #fa7800;
            font-weight: bold;
            font-size: 21px;
            $this: &;
            @include max-screen($breakpoint-tablet) {
                font-size: 12px;
            }
            span {
                font-size: 55px;
                @include max-screen($breakpoint-tablet) {
                    font-size: 21px;
                }
            }
            &--perMonth {
                @extend #{$this};
                padding-bottom: 17%;
                @include max-screen($breakpoint-tablet) {
                    padding-bottom: 7%;
                }
            }
        }
        &__txt2 {
            text-align: center;
            font-weight: bold;
            @include max-screen($breakpoint-tablet) {
                font-size: 6px;
            }
            span {
                font-size: 28px;
                @include max-screen($breakpoint-tablet) {
                    font-size: 11px;
                }
            }
        }
        &__txt3 {
            -webkit-appearance: none;
            text-align: center;
            background-color: #ee275b;
            width: 90%;
            margin: 0 auto;
            margin-top: 20px;
            border-radius: 5px;
            font-size: 24px;
            color: #ffffff;
            padding: 10px 0;
            box-shadow: 0px 4px 0px 0px #b2095b;
            outline: none;
            border: none;
            &:hover {
                cursor: pointer;
            }
            &:active {
                box-shadow: none;
                transform: translate3d(0, 4px, 0);
            }
            @include max-screen($breakpoint-tablet) {
                font-size: 12px;
                margin-top: 9px;
            }
        }
        &__caution {
            width: 90%;
            text-align: left;
            margin: 0 auto;
            margin-top: 20px;
            @include max-screen($breakpoint-tablet) {
                font-size: 9px;
                margin-top: 8px;
            }
        }
        &__more {
            display: block;
            width: 40%;
            margin: 0 auto;
            margin-top: 40px;
            @include max-screen($breakpoint-tablet) {
                width: 80%;
            }
        }
        &__toBeRelease {
            width: 100%;
            text-align: center;
        }
        &__imgOuter {
            display: block;
            position: relative;
            width: 96%;
            margin: 0 auto;
            $this: &;
            &--2{
                @extend #{$this};
                margin-top: 20px;
            }
        }
        &__imgCover {
            width: 97%;
            height: 96%;
            position: absolute;
            left: 1.5%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            p{
                width: 100%;
                text-align: center;
                color: #ffffff;
                font-size: 36px;
                font-weight: bold;
                @include max-screen($breakpoint-tablet){
                    font-size: 26px;
                }
            }
        }
        &__sleepImg {
            display: block;
            width: 100%;
        }
        &__callImg {
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    }
}
