.swiper-container {
    width: 100%;
    max-width: 1200px;
    @include max-screen($breakpoint-tablet){
        display: none;
    }
    .swiper-wrapper {
        width: 100%;
        margin: 0 auto;
        .swiper__innerImg {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    & + &{
        display: none;
        @include max-screen($breakpoint-tablet){
            display: block;
        }
    }
    .swiper-button-prev{
        @include max-screen($breakpoint-tablet){
            display: none;
        }
    }
    .swiper-button-next{
        @include max-screen($breakpoint-tablet){
            display: none;
        }
    }

}

