// Spec
.Spec {
    @at-root {
        &__Ttl {
            width: 90%;
            margin: 0 auto;
            padding-bottom: 3px;
            font-size: 22px;
            color: #00a0b9;
            border-bottom: 1px solid #00a0b9;
        }
        &__body {
            display: flex;
            justify-content: space-around;
            flex-flow: row wrap;
            margin-top: 30px;
            @include max-screen($breakpoint-tablet) {
                flex-flow: column;
            }
        }
        &__boxOuter {
            width: 440px;
            min-width: 320px;
            font-size: 16px;
            & + & {
                @include max-screen($breakpoint-tablet) {
                    margin-top: 30px;
                }
            }
            & + & + & {
                margin-top: 30px;
            }
            @include max-screen($breakpoint-tablet) {
                margin: 0 auto;
                width: 90%;
            }
        }
        &__head {
            font-size: 18px;
            color: #00a0b9;
            @include max-screen($breakpoint-tablet) {
                font-size: 13px;
                padding-left: 5px;
            }
        }
        &__box {
            margin-top: 15px;
            border: 1px solid #e6e6e6;
            @include max-screen($breakpoint-tablet) {
                margin-top: 5px;
            }
        }
        &__boxTtl {
            padding: 9px 20px 7px;
            background-color: #e6e6e6;
            @include max-screen($breakpoint-tablet) {
                font-size: 12px;
            }
        }
        &__boxTxt {
            padding: 9px 20px 7px;
            @include max-screen($breakpoint-tablet) {
                font-size: 12px;
            }
        }
    }
}
