$breakpoint-tablet: 960px;
$breakpoint-mobile: 320px;

@mixin max-screen($break-point) {
    @media screen and (max-width: $break-point) {
        @content;
    }
}

@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point) {
        @content;
    }
}

@mixin screen($break-point-min, $break-point-max) {
    @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
        @content;
    }
}

@import "header";
@import "slider";
@import "catch";
@import "problem";
@import "lashic-room";
@import "best-plice";
@import "label1";
@import "plice-plan";
@import "application";
@import "media";
@import "life";
@import "parts";
@import "detail";
@import "spec";
@import "footer";
@import "scroll-btn";
@import "top-text";
.Login{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    @include min-screen($breakpoint-tablet){
        display: none;
    }
    &__message{
        display: inline;
        font-size: 12px;
        padding-right: 10px;
    }
    &__box{
        display: flex;
        align-items: center;
    }
    &__boxInnerImg{
        width: 20px;
    }
    &__boxInnerText{
        font-size: 15px;
        color: #00a0b9;
        font-weight: bold;
        display: block;
        padding-left: 5px;
    }
}   
